
*{
  font-family:Helvetica,Arial,sans-serif;
  font-size:12px;
  font-weight:normal;
}

.Heading {
	font-weight:bold;
	height:10px;
}
  
body{
	background-color:#e5e4e4;
	margin-right:35px;
	margin-left:35px;
	margin-top:50px;
}

.Project {
  line-height:5;
  }

.Description { 
  color:rgba(170,170,170,1.00);
  font-weight:lighter;
}

p {
  line-height:1.2;
  color:rgba(170,170,170,1.00);
  min-width:350px;
  max-width:500px;
  letter-spacing:0.1px;
  padding-top:5px;
}

a {
  text-decoration:none;
   color:#000;
}

a:hover{
	background:rgba(0,0,0,1.00);
	color:rgba(255,255,255,1.00);
}

img{
	max-width:75%;
	height:auto;
	display:block;
}

@media (max-width:480px){
	img{
		max-width:100%;
		width:100%;
}
	p{
	  min-width:100%;
	  text-align:justify;	
}
*{
	font-size:8px;
}
.Description{
	font-weight:normal;
}
}
@media (min-width:768px) and (max-width:1024px){
	img{
		max-width:100%;
		width:100%;
	}
}